@import "tailwindcss";

@theme {
  --font-kumbh: Kumbh Sans, sans-serif;

  --color-blue-600: hsl(185, 75%, 39%);
  --color-navy-950: hsl(229, 23%, 23%);
  --color-gray-500: hsl(227, 10%, 46%);
  --color-gray-100: hsl(225, 10%, 92%);
}
